.idea/*
cmake-build-debug/*
cmake-build-debug-cmake/*
build/*
test_*.rknn
test_zip_*
test_res/*
resource/*
pack/*
*.zip
.macos_cache/
*.framework
.cache/*
.vscode/*
build_local/*
local_build/*
build_*/
build/
.DS_Store
version.cpp